@charset "UTF-8";
/* CSS Document */
/*font-family: 'Varela', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Titillium Web', sans-serif;*/

h1 {
	text-align: center;
	font-family: 'Questrial', sans-serif;
	letter-spacing: 3px;
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 30px;
}


h2 {
	
	text-align: center;
	font-family: 'Questrial', sans-serif;
	letter-spacing: 4px;
	font-weight: 100;
	font-size: 14px;
	margin-bottom: 25px;
	color: #8e8e8e;
}



.nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.nav li {
	font-size: 11px;
	display: inline-block;
	margin: 8px 7px 8px 7px;
	font-family: 'Questrial', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	color: #8e8e8e;
}

.line2 {
	margin-bottom: 20px;
}

a:link {
	text-decoration: none;
	color: #8e8e8e;
}

a:visited {
	color: #8e8e8e;	
}

a:hover {
	color: black;
}


.images1 {
	width: 100%;
	padding-left: 4%;

}

.images1 img {
	display: inline-block;
	padding: 1% 5% 1% 5%;
}

.images1 img:hover {
	opacity: .5;
}

  
.images2 {
	width: 100%;
	padding-left: 4%;
}

.images2 img{
	display: inline-block;
	padding: 1% 5% 1% 5%;
}

.images2 img:hover {
	opacity: .5;
}

.images3 {
	width: 100%;
	padding-left: 4%;
}

.images3 img {
	display: inline-block;
	padding: 1% 5% 1% 5%;
}

.images3 img:hover {
	opacity: .5;
}

/*End Home Page CSS*/

/*Start About CSS*/

.text{
	
	width: 30%;
	margin-left: 20%;
	font-family: 'Questrial', sans-serif;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 14px;
	line-height: 20px;
}

#profile {
	float: right;
	margin-right: 20%;
}

